/src/larvaworld/data/JovanicGroup/
/docs/source/content/
/docs/build/
/.coverage
/coverage.xml
/poetry.lock
/src/larvaworld/lib/reg/confDicts/
/dist/
/tests/media/
/tests/.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
